body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.app {
  max-width: 500px;
  margin: 4rem auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: darkblue;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 0.75rem;
  background: #eee;
  margin-top: 0.5rem;
  border-radius: 4px;
  color: darkblue;
}